body {
    margin: 0;
    font-family: Arial;
    background-color: #f8fafc;
    color: #1e293b;
}

header {
    background-color: #0f172a;
    color: white;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #f59e0b;
    margin: 0;
}

header p {
    margin: 0;
}

nav {
    background-color: #1e293b;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 18px;
}

nav a:hover {
    color: #f59e0b;
}

.cards {
    background-color: #f1f5f9;
}

.card {
    box-shadow: 0 8px 20px #cbd5e1;
}

.card:hover {
    transform: translateY(-8px);
}

.stats {
    background-color: #f59e0b;
    color: #0f172a;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 25px;
}

footer {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}
